[appliedStereotypes~="OpenModelElement"] > Label[type="StereotypeLabel"] {
	visible: false;
}
[appliedStereotypes~="OpenModelElement"] > Label:Stereotype {
	visible: false;
}

Class > Compartment[kind="operations"] {
    visible:false;
}

Class > Compartment[kind="nestedclassifiers"] {
    visible:false;
}

DataType > Compartment[kind="operations"] {
    visible:false;
}

Interface > Compartment[kind="attributes"] {
    visible:false;
}

Property {
	maskLabel: name type multiplicity defaultValue;
}

Property > Label[type=StereotypeLabel]{
	visible:false;
}

Operation {
	maskLabel: name type multiplicity defaultValue;
}

Operation > Label[type=StereotypeLabel]{
	visible:false;
}

Association > Label:SourceRole {
	visible:false;
}

Association > Label:TargetRole {
	visible:false;
}	