Association > Label:SourceRole {
	visible:false;
}

Association > Label:TargetRole {
	visible:false;}		

Label[type=StereotypeLabel][stereotype="OpenModel_Profile::StrictComposite"]{
    visible:true;
}

Label[type=StereotypeLabel][stereotype="OpenModel_Profile::ExtendedComposite"]{
    visible:true;
}

Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Specify"]{
    visible:true;
}

ClassDiagram Class.BoldLines {
	fontName:"Segoe UI";
	fillColor:#B897C0;
	transparency:0;
	gradient:#FFFFFF vertical;
	lineColor:#FF0000;
	lineWidth:-1
}

ClassDiagram Class.BoldLines {
	fontName:"Segoe UI";
	fillColor:#B897C0;
	transparency:0;
	gradient:#FFFFFF vertical;
	lineColor:#FF0000;
	lineWidth:-1
}

