/* Hide the nested classifiers compartment of classes */
Class > Compartment[kind="nestedclassifiers"] {
    visible:false;
}

/* Hide the operations compartment of classes */
Class > Compartment[kind="operations"] {
    visible:false;
}

/* Hide the nested classifiers compartment of interfaces */
Interface > Compartment[kind="nestedclassifiers"] {
    visible:false;
}

/* Hide the attributes compartment of interfaces */
Interface > Compartment[kind="attributes"] {
    visible:false;
}

/* Hide the operations compartment of data types */
DataType > Compartment[kind="operations"] {
    visible:false;
}

/* Hide the attributes compartment of primitive types */
PrimitiveType > Compartment[kind="attributes"] {
    visible:false;
}

/* Hide the operations compartment of primitive types */
PrimitiveType > Compartment[kind="operations"] {
    visible:false;
}

/* Show only name, type, multiplicity and defaultValue of attributes */
Property { maskLabel: name type multiplicity defaultValue;}

/* Show optional stereotype RootElement */
Label[type=StereotypeLabel][stereotype="OpenInterfaceModel_Profile::RootElement"]{
    visible:true;
}	

/* Show optional stereotype Choice */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Choice"]{
    visible:true;
}

/* Show optional stereotype Exception */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Exception"]{
    visible:true;
}

/* Show optional stereotype Reference */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Reference"]{
    visible:true;
}

/* Show optional stereotype PassedByReference */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::PassedByReference"]{
    visible:true;
}

/* Show optional stereotype Deprecated */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Deprecated"]{
    visible:true;
}

/* Show optional stereotype Example */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Example"]{
    visible:true;
}

/* Show optional stereotype Experimental */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Experimental"]{
    visible:true;
}

/* Show optional stereotype Faulty */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Faulty"]{
    visible:true;
}

/* Show optional stereotype LikelyToChange */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::LikelyToChange"]{
visible:true;
}

/* Show optional stereotype Mature */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Mature"]{
    visible:true;
}

/* Show optional stereotype Obsolete */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Obsolete"]{
    visible:true;
}

/* Show optional stereotype Preliminary */
Label[type=StereotypeLabel][stereotype="OpenModel_Profile::Preliminary"]{
    visible:true;
}

/* Hide stereotype labels (does not work for associations) */
Label[type=StereotypeLabel]{
    visible:false;
}
